* {
  box-sizing: border-box;
}
body {
  font-family: "Marvel";
  background-color: rgb(71, 71, 71);
}
.container {
  width: 1340px;
  margin: 0 auto;
}
button {
  background-color: #ed161f;
  color: white;
  font-family: "Marvel";
  outline: none;
  cursor: pointer;
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
}

input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}

.loader {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background-color: black;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}
header .container > div {
  display: flex;
  align-items: center;
}

header img {
  width: 125px;
  border-radius: 5px;
  margin-right: 20px;
}
header input {
  width: 500px;
  height: 50px;
  color: white;
  font-size: 16px;
  padding-left: 30px;
}
.search:hover {
  color: white;
}
header i {
  color: #333333;
  position: absolute;
}

header input::placeholder {
  color: #333333;
  font-size: 15px;
}
.input-wrapper {
  font-size: 16px;
  position: relative;
  width: 300px;
  display: flex;
  align-items: center;
}
.input-highlight {
  font-size: 2em;
  user-select: none;
  border-top: 3px solid red;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  height: 0;
  color: transparent;
  overflow: hidden;
}
input {
  width: 500px;
  height: 50px;
  color: white;
  font-size: 16px;
  padding-left: 30px;
  min-width: 100%;
  border-bottom: 3px solid white;
}

.limit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages button {
  margin-right: 15px;
  font-size: 14px;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.home > div {
  width: 50%;
}

.home h1 {
  color: white;
  margin-bottom: 60px;
  font-size: 1.5em;
}
.home a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.home > div img {
  opacity: 0.7;
  width: 450px;
  height: 300px;
  object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}
.home > div img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 1;
}

.home > div:not(:last-child) {
  margin-right: 20px;
}

.comics {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.comics .card {
  border-radius: 5px;
  height: 400px;
  display: flex;
  flex-direction: column;
  width: calc((100% / 5) - 15px);
  margin-bottom: 15px;
  margin-right: 18px;
  background-color: white;
  padding: 5px;
  opacity: 0.8;
  overflow: hidden;
}

.comics .card:hover {
  opacity: 1;
}
.card img {
  width: 100%;
  height: 300px;
}
.comics .card:nth-child(5n) {
  margin: 0;
}
.card h2 {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 700;
}
.card p {
  text-overflow: ellipsis;
}

.count {
  color: white;
  text-align: right;
  margin: 10px 0;
}
.count span {
  margin-right: 5px;
}
.count button {
  margin-right: 5px;
  color: red;
  background-color: #242424;
  font-size: 18px;
}

.character-card {
  margin: 20px auto;
  width: 800px;
  background-color: white;
  border: solid 5px white;
  border-radius: 5px;
}

.character-card img {
  width: 100%;
}

.character-details h1 {
  font-size: 42px;
  text-align: center;
  margin: 10px;
}

.signup,
.login {
  background-color: rgb(15, 15, 15);
  margin: 20px auto;
  border-radius: 10px;
  width: 500px;
}

/* .signup form {
  width: 500px;
} */
